thead{
    background-color: #427fef;
    font-size: large;
    font-weight: bold;
    color: white;
    padding: 10px;
}

table{
   border: 1px solid #c4dcf3;

}


tfoot{
    background-color:#427fef ;
    font-size: large;
    font-weight: bold;
    color: white;
    padding: 10px;
}

th, td{
    padding: 10px;
    text-align: left;
}

/* tr:nth-child(odd){
    background-color: #eef7ff;
}    */
div {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    padding: 50px;
    margin: 20px;
    background-color: tomato;
    border-radius: 15px;
    box-shadow: 15px 15px lightgrey;
  }

